/*********************
 * header styles
 *********************/
#header {
    margin-top: 30px; 
    padding-top: 20px; 
    text-align: center;
}

h1 {
    font-size: 3.5em;
    display: inline-block;
    margin-bottom: 30px;
}

#interval {
    height: 50px;
    font-size: 2.5em;
    margin-bottom: 25px;
    width: 200px;
    border: 0px;
    background-color: #eee;
    text-align: center;
}

#error {
    display: none;
}

/*********************
 * counter styles
 *********************/
#timer-block {
    text-align: center; 
    margin-bottom: 15px;
}

#timer {
    font-size: 470%; 
    line-height: 1em; 
    font-weight: bold
}

.little {
    font-size: 50%;
}

/*********************
 * controls styles
 *********************/
.control {
    display: inline-block;
    padding: 10px;
    text-align: center;
}

.control:hover {
    background-color: #ccc;
    cursor: pointer;
}

#reset {
    margin-left: 2%;
}

/*********************
 * footer styles
 *********************/
#footer {
    text-align: center;
}

/*********************
 * unused features
 *********************/
#next-beep {
    display: block;
    margin: 0 auto 0 auto;
    color: #ccc;
}

/***************************************
 * Responsive styles
 ***************************************/

@media screen and (min-width: 769px) and (max-width: 1124px) {
    #header .span6 { width: 60%; margin-left: 19.6%; }
    #error .span6 { width: 60%; margin-left: 19.6%; }
    #timer-block { width: 60%; margin-left: 19.6%; font-size: 120% !important;}
    #timer { font-size: 5em; }
    #start-pause { margin-left: 19.6%; }
    .control { width: 29% !important; margin-top: 0; }
    #footer { width: 60%; margin-left: 19.6%; }
}

/*
@media screen and (min-width: 801px) and (max-width: 768px) {
    #header .span6 { width: 80%; margin-left: 75px; }
    #error .span6 { width: 80%; margin-left: 75px; }
    #timer-block { width: 80%; margin-left: 75px; font-size: 120% !important;}
    #timer { font-size: 5em; }
    #start-pause { margin-left: 75px; }
    .control { width: 300px !important; margin-top: -5px; }
    #footer { width: 80%; margin-left: 75px; }
}
*/

@media screen and (min-width: 601px) and (max-width: 800px) {
    #header .span6 { width: 80%; margin-left: 9.5%; }
    h1 { font-size: 3.5em; margin-bottom: 0px;}
    #error .span6 { width: 80%; margin-left: 9.5%; }
    #timer-block { width: 80%; margin-left: 9.5%; font-size: 120% !important; }
    #timer { font-size: 5em; }
    .little { font-size: 0.5em; }
    #start-pause { margin-left: 9.5%; }
    .control { width: 39% !important; margin-top: -5px; }
    #footer { width: 80%; margin-left: 9.5%; }
}

@media screen and (min-width: 481px) and (max-width: 600px) {
    #header .span6 { width: 90%; margin-left: 5%; }
    #error .span6 { width: 90%; margin-left: 5%; }
    #timer-block { width: 90%; margin-left: 5%; font-size: 120% !important;}
    #start-pause { margin-left: 5%; }
    .control { width: 44% !important; margin-top: -5px; }
    #footer { width: 90%; margin-left: 5%; }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    #header { margin-top: -10px; }
    #header .span6 { width: 90%; margin-left: 5%; }
    h1 { font-size: 3em; margin-left: -15px; padding-left: 10px; }
    #interval { width: 150px; height: 40px; font-size: 2em; margin-bottom: 20px; width: 150px; }
    #error .span6 { width: 90%; margin-left: 5%; }
    #timer-block { width: 90%; margin-left: 5%; height: 100px; padding: 10px; font-size: 120% !important;}
    #start-pause { margin-left: 5%; }
    .control { margin-top: -5px; width: 44% !important; }
    #footer { width: 100%; margin-top: -20px; margin-left: 0; }
}

@media screen and (max-width: 320px) {
    #timer-block { width: 90%; margin-left: 5%; padding: 10px; font-size: 75% !important;}
    #header { margin-top: 0px; }
    #header .span6 { margin-left: 11%; }
    #interval { margin-top: -45px; margin-left: 15%; }
    #error .span6 { width: 90%; margin-left: 5%; }
    .control { width: 44% !important; margin-top: -10px; }
    #start-pause { margin-left: 5%; }
    #footer { width: 300px; margin-left: 10px; }
}