/*********************
 * header styles
 *********************/
#header {
    margin-top: 30px; 
    padding-top: 20px; 
    text-align: center;
}

h1 {
    font-size: 3.5em;
    display: inline-block;
    margin-bottom: 30px;
}

#interval {
    height: 50px;
    font-size: 2.5em;
    margin-bottom: 25px;
    width: 200px;
    border: 0px;
    background-color: #eee;
    text-align: center;
}

#error {
    display: none;
}

/*********************
 * counter styles
 *********************/
#timer-block {
    text-align: center; 
    margin-bottom: 15px;
}

#timer {
    font-size: 4.5em; 
    line-height: 1em; 
    font-weight: bold
}

.little {
    font-size: 0.5em;
}

/*********************
 * controls styles
 *********************/
.control {
    display: inline-block;
    padding: 10px;
    text-align: center;
}

.control:hover {
    background-color: #ccc;
    cursor: pointer;
}

#reset {
    margin-left: 2%;
}

/*********************
 * footer styles
 *********************/
#footer {
    text-align: center;
}

/*********************
 * unused features
 *********************/
#next-beep {
    display: block;
    margin: 0 auto 0 auto;
    color: #ccc;
}

/***************************************
 * Responsive styles
 ***************************************/

@media (width: 320px) and (height: 480px) {
    #timer-block { width: 90%; margin-left: 15px; padding: 10px; font-size: 0.8em; }
    #header { margin-top: 0px; }
    #header .span6 { margin-left: 37px; }
    #interval { margin-top: -45px; margin-left: 20px; }
    #error .span6 { width: 90%; margin-left: 15px !important; }
    .control { width: 141px !important; margin-top: -10px; }
    #start-pause { margin-left: 15px !important; }
    #footer { width: 95%; margin-left: 10px; }
}

@media (width: 480px) and (height: 320px) {
    #header { margin-top: -10px; }
    #header .span6 { width: 90%; margin-left: 25px; }
    h1 { font-size: 3em; margin-left: -15px; padding-left: 10px; }
    #interval { width: 150px; height: 40px; font-size: 2em; margin-bottom: 20px; width: 150px; }
    #error .span6 { width: 90%; margin-left: 25px; }
    #timer-block { width: 90%; margin-left: 24px; height: 100px; padding: 10px; }
    #start-pause { margin-left: 25px !important; }
    .control { margin-top: -5px; width: 210px !important; }
    #footer { width: 100%; margin-top: -20px; margin-left: 0; }
}

@media (width: 600px) and (height: 800px) {
    #header .span6 { width: 90%; margin-left: 25px; }
    #error .span6 { width: 90%; margin-left: 30px; }
    #timer-block { width: 90%; margin-left: 30px;}
    #start-pause { margin-left: 30px; }
    .control { width: 264px !important; margin-top: -5px; }
    #footer { width: 90%; margin-left: 25px; }
}